.maindiv{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    height: 100%;
    width: 0;
    transition: 0.5s;
}
button{
    margin: 10px !important;
}
ul{
    text-align: center;
}
li{
    list-style-type: none;
    margin: 50px;
    color: white;
    font-size: 40px;
    display: none;
}
