body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.col-md-5{
    margin-top: 150px !important;
    background:white;
    padding: 20px;
}
 input{
    margin-top: 20px;
 }
 button{
    margin-top: 20px;
    float: left;
 }

 .success{
    border: 3px solid green !important;

 }
 .error{
    border: 3px solid red !important;
 }
small{
    color: red;
    margin: 5px;
    font-weight: bold;
    text-align: left !important;
}