body{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
h1{
    margin-top: 50px !important;
    margin-bottom: 25px !important;
    background-color: blue !important;
    border-radius: 5px;
    color:white !important;
}