body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.col-md-5{
    margin-top: 150px !important;
    background-color: white !important;

}
h1{
    text-align: center;
    font-weight: bolder !important;
    margin: 20px !important;
}
button{
    margin-left: 10px !important;
}
input{
    display: inline !important;
    border: 3px solid black !important;
    width: 80% !important;
}
li{
    list-style-type: none;
    font-size: 30px;
    text-align: center;
    width: 70%;
    display: inline;
    margin: 10px;
}
i{
    color: red;
    margin: 10px;
}